:root {
  --color-bg-light: #fff;
  --color-bg-dark: #F1F8FF;
  --color-text: #24292E;
  --color-text-highlight: #0366D6;
  --color-text-muted: rgba(3, 102, 214, .2);
  --color-line: #F6F8FA;
}

* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}
